/* ## CREATE USER  */

/* .create_user {
    max-width: 600px;
    padding: 20px 35px;
} */

/* ## LIST USER  */

table {
    margin: 0 35px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: calc(100vw - 70px);
    transition: 2s;
    font-size: 12px;
}

table thead {
    background-color: #033468;
    color: #fff
}

table th {
    font-size: 11px;
}

table th, td {
    padding: 5px 2px;
    border: 1px solid #eee;
}

table tr.noActive td {
    background-color: #EC888B;
}

table td:nth-child(-n+2) {
    /* width: 16%; */
    /* text-align: center; */
}


table td:nth-child(2) {
    /* width: 16%; */
    text-align: center;
    
}

table td:nth-child(3) {
    /* width: 16%; */
    text-align: center;
}

table td:nth-child(4) {
    /* width: 16%; */
    text-align: center;
}

table td:nth-child(5) {
    font-size: 12px;
    text-align: center;
    /* min-width: 300px; */
    cursor: pointer;
    /* width: 16%; */
}

table td span {
    color: #fff;
    margin: 2px 10px;
    background-color: #007BFF;
    border-radius: 5px;
    padding: 3px 7px;
}

table td span:nth-child(1) {
    background-color: #007BFF;
}

table td span:nth-child(2) {
    background-color: #DC3545;
}


/* ## CREATE USER  */

/* .create_user {
    max-width: 800px;
    padding: 20px 35px;

} */




#is_admin, #is_active {

    width: 25%;
}

/* #is_active {

width: 15%;
} */

.createButtons{
margin-top: 5px;

}

.sucess{
    background-color: #049417;
    
}

.fail{
    background-color: #DC3545;
}
