
/* ## HEADER  */

header {
    background-color: #203f63;
    display: flex;
    padding: 35px;
    color: #fff
}

header .title {
    font-size: 20px;
    font-weight: 600;

display:flex;
align-items: center;


    color: #fff;
    /* justify-content: start; */
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}


header .profile {
    display:flex;
    justify-content: center;
    align-items: center;
}

 .logoutButton{
  
    vertical-align: top;
    height: 20px;
    justify-content: center;
    align-items: center;
}


/* 

header div {
    border: 1px solid rgb(233, 123, 123);
} */