/* //https://gitlab.com/bootcamp-infnet-20.3/bootcamp-frontend-aulas/-/blob/master/semana_07/src/components/login/login.css */


/* div {
    border: 1px solid rgb(233, 123, 123);
} */
#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25%;
}

/* #login .form_login {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
   
 } */

 .form_login {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 30px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;   
}

#login .form_login button i {
    font-size: 30px;
    margin: 0

}


#button {
    align-self: flex-end;
    margin-top: 20px;
    width: 100%;
    height: 35px;
}


