/* ## RESET  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



html, body {
    height: 100%;
    margin: 0
}

body {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    color: #fff;
    background-color: #033468;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    line-height: 1.5;
}


.btns button {
    display: inline-block;
    flex: 1;
    /* flex-direction: column; */
    padding: 0.375rem 0.0rem;
    margin-top: 15px;
    /* border: 1px solid; */
    width: 100%;
    text-align: center;
}

input {
    margin: 10px 0;
    width: 100%;
    outline: 0;
    border: thin solid #0f1b29;
    padding: 7px 0px;
    border-radius: 4px;
    margin-top: 10px;
}


.fakelink {
cursor: pointer;
}

.d-none {
    display: none !important;
}

/* ## HEADER  */





/* ## NAV  */

nav {
    margin: 35px 35px 20px 35px;
    padding: 5px;
    border-bottom: 1px dotted #0f1b29;
    display: flex;
}

nav .title {
    
    flex: 1;
    font-size: 20px;
}

/* nav .action  */

/* ## MAIN  */

main {
    /* height: 100%; */

    /* min-height: calc(80vh - 10px); */

    min-height: 70vh;

}

#login {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25%;
    
}



.orm-group input {
    /* width: 50%; */
    border-radius: 5px;
    border: thin solid #ddd;
    align-self: flex-start;
margin-top: 5px;
vertical-align: middle;
margin-left: -30px;
}


.orm-group label {
    width: 220%;
    border-radius: 5px;
    /* border: thin solid #ddd; */
    margin-left: -15px;
    vertical-align: super;

}



/* * CONFIRMATION */

.boxConfirmation {
    display: flex;
    justify-content: center
}

.confirmation {
    padding: 20px 35px;
    width: 50%;
}

.confirmation .message {
    padding: 35px;
    margin: 20px 0;
    border-radius: 5px;
    border: thin solid #ddd;
}

.confirmation .actions {
    display: flex;
    justify-content: flex-end;
}

.confirmation .actions button {
    margin: 5px;
    color: #666;
}

.confirmation .actions button.cancel {
    background-color: #F8D7DA
}

.confirmation .actions button.success {
    background-color: #D4EDDA
}

#sel1 {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
}

/* ## FOOTER  */

footer {
    background: #ffffff;
    color: #0f1b29;
    border-top: thin dotted #0f1b29;
    margin-top: auto;
    display: flex;
    vertical-align: middle;
    padding-left: 35px;
    padding-right: 35px;
}

footer .projectName {
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer .copyRight img {
    max-height: 80px;
}

:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}


.minwidth{
min-width: 170%;
/* border-top: thin dotted #0f1b29; */
}


.maxwidth{
    max-width: 70%;

}

    
.noroeste{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
    justify-content:flex-start;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-start;
  }
  
  .norte{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:center; 
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-start;
  }
  
  .nordeste{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:flex-end;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-start;
  }
  
  .oeste{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:flex-start;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
   align-items:center;
  }
  
  .centro{
    display: flex !important;  
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:center !important;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:center !important;  
  }
  
  .leste{
      display: flex;
    /* horizontal : flex-start, center, flex-end, space-around, space-between*/
    justify-content:flex-end;  
    /*vertical: flex-start, center, flex-end, baseline, stretch    */
      align-items:center;
    }
  
    .sudoeste{
      display: flex;
      /* horizontal : flex-start, center, flex-end, space-around, space-between*/
      justify-content:flex-start;  
      /*vertical: flex-start, center, flex-end, baseline, stretch    */
      align-items:flex-end;
    }
  
    .sul{
      display: flex;
      /* horizontal : flex-start, center, flex-end, space-around, space-between*/
      justify-content:center;  
      /*vertical: flex-start, center, flex-end, baseline, stretch    */
      align-items:flex-end;
    }
  
    .sudeste{
    display: flex;
    /* horizontal : flex-start, center, flex-end, space-around, space-between*/
    justify-content:flex-end;  
    /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-end;
    }
  
  