

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25%;
}

.form_testes {
    display:flex;
    /*  */
    flex-direction: column;
    width: 600px;
    /* padding-left: 30px; */
    margin-left : 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.conteiner button {
    align-self:flex-start ;
    margin-top: 20px;
    height: 35px;
    min-width: 190px;
}



.buttonContainer  {
display: flex;
flex-direction: unset;
/* padding: 12px; */


}

.buttonContainer button {
margin-right: 10px;
}

.conteiner{
    display: flex;
    flex-direction: row;
}

.rightSide  {
    margin-left: 20px;
    border: 1px solid rgb(44, 5, 5) ;
border-style:dashed;
border-width: thin;
border-radius: 1%;
width: 43%;
min-width: 350px;
min-height: 300px;
word-wrap:break-word;
}
